# =====================================
# Grundlagen / Datenverarbeitung
# =====================================

numpy
pandas
scikit-learn

# =====================================
# Visualisierung
# =====================================

matplotlib
plotly

# =====================================
# Audio
# =====================================

librosa
soundfile

# =====================================
# Machine Learning
# =====================================

torch

# =====================================
# Streamlit App
# =====================================

streamlit

# =====================================
# Xeno-Canto Download
# =====================================

requests

# =====================================
# YAMNet (Background-Erzeugung)
# =====================================

tensorflow
tensorflow-hub

# =====================================
# BirdNET Vergleich (optional)
# =====================================

birdnetlib

# =====================================
# Notebook Support
# =====================================

jupyterlab
notebook
ipykernel

# =====================================
# CSV / Excel Export
# =====================================

openpyxl